<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form action="/register" method="post">
          <fieldset>
            <legend class="mb-4">회원가입</legend>
            <div class="mb-3">
              <label for="email" class="form-label">이메일 주소</label>
              <div class="input-group">
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="이메일을 입력하세요" required>
                <button class="btn btn-outline-secondary" type="button" id="sendVerificationCode">인증번호 발송</button>
              </div>
              <div id="emailHelp" class="form-text">가입 시 사용할 이메일 주소를 입력해주세요.</div>
            </div>
            <div class="mb-3">
              <label for="verificationCode" class="form-label">인증번호</label>
              <div class="input-group">
                <input type="text" class="form-control" id="verificationCode" name="verificationCode" placeholder="인증번호를 입력하세요" required>
                <button class="btn btn-primary" type="button" id="sendVerification">인증</button>
              </div>
              <div id="verificationCodeHelp" class="form-text">이메일로 발송된 인증번호를 입력해주세요.</div>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">이름</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력하세요" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">비밀번호</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요" autocomplete="new-password" required>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">비밀번호 확인</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="비밀번호를 다시 입력하세요" autocomplete="new-password" required>
            </div>
            <div class="mb-3">
              <label for="phoneNumber" class="form-label">휴대폰 번호</label>
              <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="휴대폰 번호를 입력하세요" required>
            </div>
            <button type="submit" class="btn btn-primary">회원가입</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <script th:src="@{/js/verification/sendCode.js}"></script>
  <script th:src="@{/js/verification/sendVerification.js}"></script>
</th:block>
</html>