<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
          <fieldset>
            <legend class="mb-4">타임캡슐 작성</legend>
            <div class="mb-3">
              <label for="title" class="form-label">제목</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요" required>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">내용</label>
              <textarea class="form-control" id="content" name="content" rows="5" placeholder="내용을 입력하세요" required></textarea>
            </div>
            <div class="mb-3">
              <label for="viewDate" class="form-label">열람일</label>
              <input type="date" class="form-control" id="viewDate" name="viewDate" required>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="isEmailNotificationEnabled" name="isEmailNotificationEnabled">
              <label class="form-check-label" for="isEmailNotificationEnabled">열람일에 이메일 알림 받기</label>
            </div>
            <button type="button" class="btn btn-primary" id="submitCapsule">작성 완료</button>
            <a href="/" class="btn btn-secondary ms-2">취소</a>
          </fieldset>
      </div>
    </div>
  </div>
</th:block>
</html>